/* RedHatDisplay */
@font-face {
  font-family: 'RedHatDisplay';
  src: url('./fonts/RedHatDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RedHatDisplayMedium';
  src: url('./fonts/RedHatDisplay-Medium.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RedHatDisplaySemiBold';
  src: url('./fonts/RedHatDisplay-SemiBold.woff');
  font-weight: 600;
  font-style: normal;
}

/* NantesWeb */
@font-face {
  font-family: 'NantesBoldItalic';
  src: url('./fonts/NantesWeb-BoldItalic.woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NantesItalic';
  src: url('./fonts/NantesWeb-RegularItalic.woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nantes';
  src: url('./fonts/NantesWeb-Regular.woff2');
  font-weight: normal;
  font-style: normal;
}

:root {
  --clr-primary: #035e1d;
  --clr-accent: #e0eac9;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* If you forget the sematic role (can be turned off) */
ul,
ol {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  line-height: 1.5;
}

/* A elements that don't have a class get default styles (Turn off if nto wanted) */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* button */
.button {
  display: inline-block;
  padding: 0.625em 1.25em;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

button {
  background-color: transparent;
  font-family: 'RedHatDisplay', sans-serif;
  text-transform: uppercase;
}

.btn-outline-border {
  margin-top: 1.3125em;
  font-size: 0.6875em;
  padding: 0.625em 0 0.5em 0;
  border: 1px solid white;
  color: white;
  border-radius: 2.5em;
  width: 100%;
}

.animated-border {
  position: relative;
  display: inline-block;
  padding-bottom: 0.625em;
  transition: padding-bottom 0.3s ease;
}

.animated-border::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transition: transform 0.3s ease;
}

.animated-border:hover::after {
  border-color: var(--clr-primary);
  transform: translateY(-10px);
}

.btn-wrapper .animated-border {
  color: var(--clr-primary);
}

.btn-wrapper .animated-border::after {
  background-color: var(--clr-primary);
}

.btn-wrapper .animated-border:hover {
  color: var(--clr-primary);
}

/* ScrollingText */
.marquee {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  margin: 3.75rem 0 3.75rem 0;
}

.marquee span {
  font-family: 'RedHatDisplay', sans-serif;
  color: var(--clr-primary);
  font-size: 1.875rem;
  display: inline-block;
  animation: marquee 75s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(-100%);
  }
}

.productcard:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

/* Header.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.left-links,
.right-links {
  display: flex;
  gap: 15px;
}

.navbar a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'RedHatDisplay', sans-serif;
  font-weight: 600;
  margin: 0 1rem;
  align-items: center;
}

.navbar img {
  width: 8em;
  height: auto;
  margin: 0 auto;
}

.logo-wrapper {
  margin-right: 14rem;
  margin-left: 0;
}

.logo {
  margin: 0 15px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensure it's above the hero banner */
  background-color: rgba(0, 0, 0, 0.3);
  transition: top 0.3s;
}

.hero-banner h1 {
  font-size: clamp(1.75rem, 0.8191rem + 2.9787vw, 3.5rem);
  font-family: 'RedHatDisplay', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.text-wrapper {
  max-width: 52em;
}

.pretty-font {
  font-family: 'NantesItalic', serif;
  text-transform: uppercase;
}

.btn-wrapper {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

/* HeroBanner.css */
.hero-banner {
  background-image: url('assets/headerImg.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh; /* Minimum full viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 0 20px; /* Add padding to adjust for smaller screens */
}

.hero-banner h1 {
  font-size: 56px;
}

.shop-link {
  position: absolute;
  font-family: 'Nantes', serif;
  font-style: italic;
  font-weight: 300;
  font-size: 2em;
  bottom: 5%;
  text-decoration: none;
  padding-bottom: 6px;
  color: white;
}

/* CallOutSection */
.call_out__text_container {
  background: #f8f5ef;
  padding: 8em;
}

.call_out__text-wrapper {
  text-align: center;
  max-width: 32em;
  margin: 0 auto;
}

.call_out__text-wrapper h2 {
  /* Daily Essentials */
  font-family: 'RedHatDisplay';
  font-style: normal;
  font-weight: 500;
  font-size: 56px;
  text-transform: uppercase;
  color: var(--clr-primary);
}

.call_out__text-wrapper h4 {
  font-family: 'NantesBold';
  font-style: normal;
  font-weight: 500;
  font-size: 1.375em;
  line-height: 35px;
  letter-spacing: 0.01em;
  color: var(--clr-primary);
}

.call_out__text-wrapper .pretty-font_small {
  font-style: italic;
  text-transform: lowercase;
  font-weight: 400;
}

.call_out__text-wrapper p {
  margin-top: 1.5em;
  font-family: 'RedHatDisplay';
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 22px;
  color: var(--clr-primary);
}

/* Product Carousel */
.product_carousel__container {
  max-width: 1384px;
  margin: 50px 28px;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.product_carousel__item {
  background-color: #e0eac9;
  display: flex;
  flex-direction: column;
  padding: 0 28px 26px 28px;
}

.product_carousel__img_wrapper {
  align-items: center;
  margin-bottom: auto;
}

.product_carousel_item__price_wrapper,
.productcard_image_item__price_wrapper {
  display: flex;
  justify-content: space-between;
}

.product_carousel_item__heading,
.productcard_image_item__heading,
.product_carousel_item__price,
.productcard_image_item__price {
  font-family: 'RedHatDisplay', sans-serif;
  font-weight: 500;
  font-size: 0.875em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--clr-primary);
}

.product_carousel_item__tagline,
.productcard_image_item__tagline {
  font-family: 'NantesItalic', sans-serif;
  font-weight: 400;
  font-size: 0.875em;
  text-decoration: none;
  color: var(--clr-primary);
}

.productcard_image_item__heading,
.productcard_image_item__tagline,
.productcard_image_item__price {
  color: white;
}

/* ProductCard  */
.productcard_image__item {
  position: relative;
}

.productcard_image__item__wrapper {
  position: absolute;
  top: 78%;
  bottom: 0;
  width: 100%;
  padding: 0 25px;
}

.product_carousel__shop_link {
  font-family: 'Nantes', serif;
  font-style: italic;
  font-weight: 300;
  font-size: 2em;
  margin: 0 auto;
  text-decoration: none;
  padding-bottom: 6px;
  color: var(--clr-primary);
}

.product_carousel__shop_link:hover {
  color: var(--clr-accent);
}
